@import "./styles/variables.scss";

page {
  background-color: $color-bg;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei',
    sans-serif;
  color: $color-text-main;
  font-size: $font-base;
}
